.gradient-custom {
  /* fallback for old browsers */
  background: rgb(38, 19, 254);  
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(right bottom, #482600, #E38B29);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, #482600, #E38B29);
}

.avatar-frame-container {
  position: relative;
  width: 100%;
}

.avatar-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover:hover {
  transform: scale(1.2);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.avatar-frame-open-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: 0;
  background-color:rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  border-radius: 1rem;
}

.avatar-frame-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: 0;
  font-size: 1.5rem;
  border-radius: 1rem;
}

.avatar-frame-select-button {
  background: rgba(0, 0, 0, 0);
  border: 0;
  color: white;
  padding-bottom: 1rem;
}

.avatar-frame-select-button:hover {
  transform: scale(1.2);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.avatar-frame-select-button:disabled {
  background: rgba(0, 0, 0, 0);
  border: 0;
  color: white;
  padding-bottom: 1rem;
  filter: grayscale(1);
}

/* .avatar-menu-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
} */

.avatar-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 8vmax;
  height: calc(3rem + 5 * 7rem);
  z-index: 2;
  border-radius: 1rem;
  /* background: -webkit-linear-gradient(45deg, #121727, #334374); */
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}