.btn {
    background-color: #2C74B3 !important;
}

.btn.btn-primary {
    background-color: #2C74B3 !important;
    border: #2C74B3 !important;
}

.btn.btn-primary.orange {
    background-color: #FA4616 !important;
    border: #FA4616 !important;
}

.btn.btn-more {
    background-color: #484848 !important;
    border: #16b9fa !important;
    color: white !important;
}

.btn.btn-danger {
    background-color: #2C74B3 !important;
    border: #2C74B3 !important;
}

.btn.ripple {
    background-color: transparent !important;
}

.btn-correct {
    background-color: green !important;
    color: white !important;
}

.btn-incorrect {
    background-color: red !important;
    color: white !important;
}

.btn-default {
    background-color: lightgray !important;
    color: black !important;
}

.btn-completed{
    background-color: #0e8759 !important;
    color: white !important;
}