.card-container.game {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    padding: 40px 20px;
}

.card.game {
    margin: 40px;
    width: 550px !important;
}

.img-size {
    float: left !important;
    width: auto;
    height: 405px !important;
    object-fit: cover !important;
}

.bold-text {
    font-weight: bold;
}

.option-box {
    border-color: #2C74B3;
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    border-radius: 25px;
    max-width: 600px;  /* Ensure the box has a maximum width */
    margin: auto;  /* Center the box */
}